<h2 id='title'>EmberCalc</h2>

{{input type="text" id="my-display" value=myDisplay placeholder="" action="updateDisplay"}}
<br>
<table>
  <tr>
    <td></td>
    <td></td>
    <td><button {{action 'clear'}}>C</button></td>
    <td><button {{action 'divide'}}>/</button></td>
  </tr>
  <tr>
    <td><button {{action 'seven'}}>7</button></td>
    <td><button {{action 'eight'}}>8</button></td>
    <td><button {{action 'nine'}}>9</button></td>
    <td><button {{action 'multiply'}}>*</button></td>
  </tr>
  <tr>
    <td><button {{action 'four'}}>4</button></td>
    <td><button {{action 'five'}}>5</button></td>
    <td><button {{action 'six'}}>6</button></td>
    <td><button {{action 'minus'}}>-</button></td>
  </tr>
  <tr>
    <td><button {{action 'one'}}>1</button></td>
    <td><button {{action 'two'}}>2</button></td>
    <td><button {{action 'three'}}>3</button></td>
    <td><button {{action 'plus'}}>+</button></td>
  </tr>
  <tr>
    <td></td>
    <td><button {{action 'zero'}}>0</button></td>
    <td><button {{action 'decimal'}}>.</button></td>
    <td><button {{action 'equals'}}>=</button></td>
  </tr>
</table>
